# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment variables
.env
.env.local

# Vercel
.vercel/

# Streamlit
.streamlit/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db